.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 35vh;
    background-color: #f0f0f0;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.text h2 {
    margin: 0;
    font-size: 24px;
}

.text p {
    margin: 5px 0 0;
    font-size: 16px;
}